/* BODY BORDER */




/* Global and reusable */




  
body {
    margin: 0 auto;
    background-color: #dddddd;
    overflow-x: hidden;
  }
  

  #headermain {
    margin: 0 auto;
    background: #ffffff;
    display: relative;
    align-items: center;
    justify-content: left;
    height: auto;
    overflow: hidden;
    

  }

  #footermain {
    margin: 0 auto;
    background: #666666;
    display: relative;
    align-items: center;
    justify-content: left;
    height: auto;
    overflow: hidden;
 
}


  
  article,
  footer {
    background: #ffffff;
    display: absolute;
    align-items: center;
    justify-content: left;
    height: auto;
    overflow: hidden;
    
  }

  /* MAIN NAVI & FOOTER */

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
    padding: 14px 16px;
    
}

.main-footer {
    float: right;
    list-style: none;
    margin-right: 10px;
    
    
}

.main-footer li {
    display: block;
    margin-left: 25px;
    padding-left: 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: right;
    
        
}

.main-footer li a:link,
.main-footer li a:visited {
    padding: 8px 0;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom .2s;
    transition: border-bottom .2s;
    
    
}


.main-nav li {
    display: inline;
    margin-left: 25px;
    padding-left: 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: right;
   
        
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color:#777777;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom .2s;
    transition: border-bottom .2s;
    
    
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #cf6d17;
   
 
    
}

/* MAIN NAVI1 Your Name */
.main-nav1 {
    float: left;
    list-style: none;
    margin-top: 50px;
    margin-right: 25px;
    margin-left: 10%;
    padding: 14px 16px;
            
}

.main-nav1 li {
    display: relative;
    
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;   
   
        
}

.main-nav1 li a:link,
.main-nav1 li a:visited {
    padding: 25px 25px 45px 20px;
    color:#fff;
    background-color: #4aaaa5;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 120%;
    border-bottom: 2px solid transparent;
    
    
    
}

.main-nav1 li a:hover,
.main-nav1 li a:active {
    border-bottom: 2px solid #cf6d17;
   
 
    
}

/* 2nd row-grid */

.articleintro {
  background: #ffffff;
  display: flex;
  max-width: 960px;
  align-items: left;
  justify-content: left;
  height: auto;
  font-size: 40px;
  margin: auto;
    
}

.articleintro1 {
    background: #ffffff;
    display: flex;
    max-width: 960px;
    align-items: left;
    justify-content: left;
    height: auto;
    padding-bottom: 25px;
    margin: auto;
      }

.row1 {
    display: flex;
    float: left;
    margin-left: 40px;
    margin-bottom: -20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#4aaaa5;
    background: #ffffff;
    display: flex;
    align-items: left;
    justify-content: left;
    height: auto;
    
   
        
}

.row1a {
    display: inline-block;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;   
    margin-left: 40px;
    margin-right: 25px;
    margin-top: -25px;
   
    
        
}

p {
    display: inline;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;   
    text-align: left; 
    margin-right: 25px;
    
  
    
    
        
}

.img1 {
  margin-right: 15px;
  
        
}

.hr {
    margin-bottom: 20px;
    
    
          
  }





